<ul id="todo-list">
  {{#each itemController="item"}}
    <li {{bind-attr class="completed:completed isEditing:editing"}}>
      {{#if isEditing}}
        {{input type="text" class="edit" value=description action="updateItem" focus-out="updateItem"}}
      {{else}}
        {{input type="checkbox" checked=completed class="toggle"}}
        <label {{action "editItem" on="doubleClick"}}>{{description}}</label>
        <button class="destroy" {{action "deleteItem"}}></button>
      {{/if}}
    </li>
  {{/each}}
</ul>
